absl-py==0.15.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.2.0
altair==4.2.2
ansitable==0.9.6
anyio==3.6.2
appdirs==1.4.4
arxiv==1.4.3
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
bazel==0.0.0.20200723
blobfile==2.0.1
bottleneck==1.3.4
box2d-py==2.3.8
cachetools==4.2.4
causal-empathy==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
chex==0.1.2
click==8.1.2
cloudpickle==2.0.0
colorama==0.4.4
colored==1.4.3
contextlib2==21.6.0
cvxpy==1.2.2
cycler==0.11.0
cython==0.29.26
deepdiff==5.7.0
deprecated==1.2.13
distlib==0.3.4
dm-env==1.5
dm-meltingpot==1.0.3
dm-tree==0.1.7
dmlab2d==1.0
docker-pycreds==0.4.0
ecos==2.0.10
elegantrl==0.3.3
entrypoints==0.4
enum34==1.1.10
fastapi==0.94.1
fasteners==0.15
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.6.0
flatbuffers==1.12
fonttools==4.28.5
free-mujoco-py==2.1.6
frozenlist==1.3.0
fsspec==2023.3.0
funcsigs==1.0.2
functorch==0.2.1
future==0.18.2
gast==0.3.3
gitdb==4.0.9
gitpython==3.1.27
glfw==1.12.0
google-auth-oauthlib==0.4.6
google-auth==2.3.3
google-pasta==0.2.0
gradio==3.20.1
grpcio==1.32.0
gym==0.21.0
h11==0.14.0
h5py==2.10.0
httpcore==0.16.3
httpx==0.23.3
idna==3.3
imageio==2.13.5
immutabledict==2.2.1
importlib-metadata==4.10.0
importlib-resources==5.7.1
iniconfig==1.1.1
jax==0.3.7
jaxlib==0.3.2
jinja2==3.1.2
jsonschema==4.4.0
keras-preprocessing==1.1.2
keras==2.7.0
kiwisolver==1.3.2
libclang==12.0.0
linkify-it-py==2.0.0
lio==0.1
lxml==4.9.2
lz4==4.0.0
markdown-it-py==2.2.0
markdown==3.3.6
markupsafe==2.1.2
matplotlib==3.5.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-collections==0.1.1
mock==4.0.3
monotonic==1.6
mpmath==1.2.1
mpyq==0.2.5
msgpack==1.0.3
mujoco-py==2.1.2.14
multiagent==0.0.1
multidict==6.0.4
networkx==2.8
numexpr==2.8.1
numpy-stl==3.0.0
numpy==1.19.5
oauthlib==3.1.1
opacus==1.1.3
openai==0.27.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.8.7
osqp==0.6.2.post5
packaging==21.3
pandas==1.4.1
pathtools==0.1.2
pgraph-python==0.6.1
pillow==9.4.0
pip==23.0.1
platformdirs==2.5.1
pluggy==1.0.0
portpicker==1.5.0
progress==1.6
promise==2.3
protobuf==3.19.3
psutil==5.9.0
py==1.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybase64==1.2.3
pybullet==3.2.0
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.6
pydub==0.25.1
pygame==2.1.2
pyglet==1.5.23
pymupdf==1.21.1
pyparsing==3.0.6
pyrsistent==0.18.1
pysc2==3.0.0
pytest==7.1.1
python-dateutil==2.8.2
python-multipart==0.0.6
python-utils==3.4.5
pytz==2021.3
pyyaml==6.0
qdldl==0.1.5.post2
qpsolvers==1.8.0
quadprog==0.1.11
ray==1.12.0
redis==4.2.2
regex==2022.10.31
requests-oauthlib==1.3.0
requests==2.26.0
rfc3986==1.5.0
roboticstoolbox-python==0.11.0
rsa==4.8
rtb-data==0.10.1
rx==3.2.0
s2clientprotocol==5.0.8.86383.0
s2protocol==5.0.8.86383.1
scipy==1.7.3
scs==3.2.2
seaborn==0.12.1
sentry-sdk==1.5.12
setproctitle==1.2.3
setuptools==62.1.0
sgmllib3k==1.0.0
shortuuid==1.0.9
six==1.15.0
sk-video==1.1.10
smmap==5.0.0
sniffio==1.3.0
spatialgeometry==0.2.0
spatialmath-python==0.11
sphinxcontrib-jsmath==1.0.1
starlette==0.26.1
swift-sim==0.10.0
sympy==1.9
tabulate==0.8.9
tenacity==8.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.7.0
tensorboardx==2.5
tensorflow-estimator==2.4.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow==2.4.1
termcolor==2.2.0
tiktoken==0.2.0
tomli==2.0.1
toolz==0.11.2
torch==1.12.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.64.1
typing-extensions==4.5.0
typing==3.7.4.3
uc-micro-py==1.0.1
urllib3==1.26.8
uvicorn==0.21.0
virtualenv==20.14.1
wandb==0.12.11
websocket-client==1.2.3
websockets==10.1
werkzeug==2.0.2
wheel==0.37.1
whichcraft==0.6.1
wrapt==1.12.1
yarl==1.8.2
yaspin==2.3.0
zipp==3.7.0